<main class="p-5">
    <div class="row g-5">
        <div class="col-12">
            <div>
                <label class="form-label">Email address</label>
                <input class="form-control">
                <div class="form-text">Shares of GameStop surge as amateur traders on the social media platform.</div>
            </div>
        </div>
    </div>
</main>