<div>

    {{#with main}}
    <main>
        <div class="card">
            <section>
                {{> title data="My educationss" big=true}}
                <ul>
                    {{#each education}}
                    <li>
                        {{name}}

                        {{#unless isEnd includeZero=true}} (ще в процесі) {{/unless}}
                    </li>
                    {{/each}}
                </ul>
            </section>
        </div>
        <div class="card g-2">
            <section>
                {{> title data="My certificates" big=true}}
                <ul>
                    {{#each certificates}}
                    <li>
                        {{name}}

                        {{#if id includeZero=true}} ({{id}}) {{/if}}

                    </li>
                    {{/each}}
                </ul>
            </section>
        </div>
    </main>
    {{/with}}

</div>