{{!--
Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

<head>
	<title>
<<<<<<< HEAD
		{{page.title}}
=======
		Basic page
>>>>>>> 6d730c81b588520c507d8c5edcbc77c28f7d8fd0
	</title>
	<meta charset='utf-8' />
	<link href='css/index.css' rel='stylesheet' />
</head>

<body>

<<<<<<< HEAD
	<br>
	<hr>
=======
>>>>>>> 6d730c81b588520c507d8c5edcbc77c28f7d8fd0

	{{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу --}}
	{{{body}}}

<<<<<<< HEAD
=======

>>>>>>> 6d730c81b588520c507d8c5edcbc77c28f7d8fd0
</body>

</html>